<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="xfvkxruc_phonebookEntities" connectionString="metadata=res://*/TransferMarketModel.csdl|res://*/TransferMarketModel.ssdl|res://*/TransferMarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.anaxanet.com;initial catalog=xfvkxruc_phonebook;user id=xfvkxruc_phonebookuser;password=123Pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>
